/* Import czcionek*/

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* Główne selektory*/

* {
    margin: 0;
    padding: 0;
}

body {   
    background: #FAF2C9;
    color: #1E1E24;
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
    padding: 0 15%;
    
}

ul {
    padding-left: 2em;
}

p {
    margin: 0.5em 0 1em 0;
}

p, li {
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: #8B728E
}

menu a:hover {
    text-decoration: none;
    border-bottom: 2px solid #E4572E;
}

a:visited {
    color: black;
}

/* Selektory headera*/

.header {
    display: grid;
    position: sticky;
    top: 0;
    padding: 1em 0;
    width: 100%;
    height: auto;
    grid-template-columns: 0.5fr 4fr 3fr;
    background: #FAF2C9;
}

.header-photo img {
border-radius: 50%;
width: auto;
height: 70px;
}

menu {
    display: flex;
    list-style: none;
    margin: 0;
}

menu li {
    padding: 27px 2em;
}

.header-contact li {
text-align: right;
list-style: none;
color: #1E1E24;
}

/* Koła ozdobne*/

#wheel1 {
    width: 200px;
    height: 200px;
    z-index: -1;
    position: absolute;
    top: 400px;
    right: 45%;
    border-radius: 50%;
    background-color: rgba(228, 87, 46, 0.2);

}

#wheel2 {
    width: 400px;
    height: 400px;
    z-index: -1;
    position: absolute;
    top: 160px;
    right: 45%;
    border-radius: 50%;
    background-color: rgba(139, 114, 142, 0.2)

}

#wheel3 {
    width: 150px;
    height: 150px;
    z-index: -1;
    position: absolute;
    top: 160px;
    right: 45%;
    border-radius: 50%;
    background-color: rgba(228, 87, 46, 0.2)

}

#wheel4 {
    width: 250px;
    height: 250px;
    z-index: -1;
    position: absolute;
    top: 220px;
    right: 65%;
    border-radius: 50%;
    background-color: rgba(139, 114, 142, 0.2)

}

/* Selektory sekcji wprowadzającej*/

.leading-section {
    display: flex;
    flex-basis: row;
    margin: 5vh 0 10vh 0;
    padding: 0 2em 0 0;
}

.introduction {
   max-width: 70%;   
}

.cta-button {
    width: 40%;
    padding: 1em 1em;
    background-color: #E4572E;
    border: 4px solid #E4572E;
    color: white;
    border-radius: 12px;
    font-size: 1.4em;
    margin-right: 5%;
}

.cta-button:hover {
    background-color: transparent;
    color: #1E1E24;
    transition: ease-out 0.7s;
}

.contact-button {
    width: 40%;
    padding: 1em 1em;
    background-color: transparent;
    border: 4px solid #E4572E;
    border-radius: 12px;
    font-size: 1.4em;
}


.contact-button:hover {
    background-color: #8B728E;
    border: 4px solid #8B728E;
    color: white;
    transition: ease-out 0.7s;
}

/* Selektory sekcji głównej*/

.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;

}

/*
.main-content div:nth-child(2), .main-content div:nth-child(6) {
padding: auto 1em;
}
*/

.main-content div {
    margin: 2em auto;
}




.main-content img {
    width: 90%;
    height: auto;
    border-radius: 12px;
}

h1 span {
    color: #FF7F11;
}

h2 {
    color: #8B728E;
}

h3 {
    padding: 0 0 0.5em 0;  
}

/* Sekcja buttona CTA*/

#cta-button-section {
    display: block;
    width: 300px;
    margin: 2em auto;
}

#cta-button-bottom {
    width: 300px;
    padding: 1em 1em;
    background-color: #E4572E;
    border: 4px solid #E4572E;
    color: white;
    border-radius: 12px;
    font-size: 1.4em;
}

#cta-button-bottom:hover {
    background-color: transparent;
    color: #1E1E24;
    transition: ease-out 0.7s;
}



/* Sekcja dla mobilek*/

@media screen and (max-width: 768px) {


}