@import url('https://fonts.googleapis.com/css?family=McLaren|Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');





body {   
    background: hsl(88, 75%, 68%);
    margin: 0;

}

.general_wrapper {
    display: flex;
    flex-direction: row;
}

.setting_menu {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 8px;
    min-width: 20vw;
    height: 110%;
    position: fixed;
    left: -18%;
    background-color: rgba(255, 127, 80, 0.6);
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
    transition: 0.8s ease;
    
}

.setting_menu__hovered {
    left: 0;
    transition: 0.8s ease;
}

.setting_menu__heading {
    display: flex;
    flex-direction: row;  
}

.setting_menu--icon {
    width: 32px;
    height:32px;
}

.wrapper {
    display: grid;
    text-align: center;
    padding: 12px;
    margin: auto;
    width: 100%;
}



@media screen and (max-width: 768px) {

    .setting_menu {
        min-width: 40vw;
        left: -30%;
        background-color: rgba(255, 127, 80);
        z-index: 2;
    }

    .setting_menu__hovered {
        left: 0;
       
    }

    .wrapper {
        position: relative;
        left: 3.8vw;
    }

}